<form class = "loginform" role = "form">
  <div class="jumbotron">
      <h1><center>Login</center></h1>
     <div class = "input-group">
        <span class = "input-group-addon control-label">Username:</span>
        <input type="text" placeholder="Enter Username" ng-model="uname" required="required" class="form-control"/>
     </div>

     <br>
     <div class = "input-group">
        <span class = "input-group-addon control-label">Password:</span>
        <input type="password" placeholder="Enter Password" ng-model="pwd" required="required" class="form-control"/>
     </div>

     <br>

  <center><button type="submit" ng-click="lc.submit()" class="btn btn-primary btn-md">Login </button></center>
</div>

  </form>
